<header class="l-header">
  <div class="wrapper">
    <div class="l-header__banner">
      <a class="l-header__logotype-container" href="{{ site.url }}">
        <h1 class="l-header__logotype">{{ site.title }}</h1>
        <img class="logo" src="/assets/logo.png" rel="{{ site.title }}"/>
      </a>

      <p class="l-header__tagline">Ruby Version Manager is a command-line tool which allows you to easily install, manage, and work with multiple ruby environments from interpreters to sets of gems.</p>

      <button class="button">Install</button>
    </div>
  </div>
</header>
