.nav {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4);
  }

  @include respond-to($mq-l) {
    @include column(3);
    @include push(2);
  }
}

.nav__list {
  @extend %unstyled-list;
}

.nav__list-item {
  display: block;
}

.nav__link {
  display: block;
  padding: unit(6) 0;
}

.nav__heading {
  font-size: unit(20);
}
