.l-header {
  background-color: $color-mahogany;
  margin-bottom: unit(36);
}

.l-header__banner {
  @include column(12);

  @include respond-to($mq-m) {
    padding-bottom: unit(100);
  }
}

.l-header__logotype-container {
  display: inline-block;
  margin-top: unit(46);

  @include respond-to($mq-m) {
    font-size: unit(104);
    margin-top: unit(100);
  }
}

.l-header__logotype {
  font-size: unit(42);
  line-height: 1;
  font-weight: 400;
  color: $color-concrete;
  margin-bottom: unit(16);
  display: inline-block;
  margin-left: -0.8%;

  @include respond-to($mq-m) {
    font-size: unit(104);
  }
}


.l-header__tagline {
  font-weight: 300;
  color: $color-concrete;
  max-width: unit(780);
  margin-bottom: unit(36);

  @include respond-to($mq-m) {
    font-size: unit(22);
  }
}
