*,
*:before,
*:after {
  box-sizing: border-box;
}

*[tabindex="-1"] {
  outline: 0;
}

body {
  font-family: $base-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $color-baltic-sea;
  -webkit-text-size-adjust: 100%;
}

pre,
code {
  font-size: unit(14);
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: $color-off-grey;
}

ul,
ol {
  padding-left: 0;
  margin-bottom: unit(24);
}

li {
  & > pre,
  & > code {
    line-height: 2;
  }
}
